#accomodations-container {
   width: 1000px;
   height: 520px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -500px;
   margin-top: -260px;
}

#top-img-container {
    text-align: left;
}

#top-img-container img {
    height: 80px;
    width: auto;
}

#accommodations-text {
    font-weight: 600;
    text-align: left;
}

.left-accommodations-text1 {
    margin-left: 60px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.left-accommodations-text2 {
    margin-left: 70px;
    margin-top: -10px;
    padding-top: 0px;
}

.left-accommodations-text2 a {
    text-decoration: none;
    color: inherit;
}

.left-accommodations-text2 a:hover {
    text-decoration: underline;
}

.left-column {
    width: 25%;
    vertical-align: top;
    font-weight: 600;
}

.right-column {
    width: 75%;
    vertical-align: top;
    font-weight: 600;
}

tr.padding-under > td {
    padding-bottom: 0.1em;
}

#right-img-container {
    margin-top: -300px;
    margin-left: 60%;
    text-align: left;
}

#right-img-container img {
    height: 300px;
    width: auto;
}

.right-accommodations-text {
    font-weight: 600;
    line-height: 0.60em;
}
