#accomodations-container {
    width: 900px;
    height: 520px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -260px;
    font-weight: 600;
}

#top-img-container {
    text-align: left;
}

#top-img-container img {
    height: 80px;
}

#accommodations-text {
    text-align: left;
}

.left-accommodations-text1 {
    margin-left: 60px;
}

.left-accommodations-text2 {
    margin-left: 70px;
    margin-top: -10px;
}

.left-accommodations-text2 a {
    text-decoration: none;
    color: inherit;
}

.left-accommodations-text2 a:hover {
    text-decoration: underline;
}

.left-column {
    width: 25%;
    vertical-align: top;
}

.right-column {
    width: 75%;
    vertical-align: top;
}

tr.padding-under > td {
    padding-bottom: 0.1em;
}

#right-img-container {
    margin-top: -300px;
    margin-left: 60%;
    text-align: right;
    line-height: 0.60em;
}

#right-img-container img {
    height: 300px;
}
