html, body {
    background-image: url('/img/background.jpg');
    margin: 0;
    padding: 0;
    font-family: Courier New;
}

#hide-till-load {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-image: url('/img/background.jpg');
   z-index: 99; /* Higher than anything else in the document */
}

#top, #bottom, #left, #right {
    background: #0B5460;
    position: fixed;
    z-index: 100;
}

#left, #right {
    top: 0;
    bottom: 0;
    width: 10px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top, #bottom {
    left: 0;
    right: 0;
    height: 10px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

#base-container {
    width: 100%;
    margin-bottom: 70px; /* To match page borders + height of footer */
}

#base-body {
    overflow: auto;
    margin: 10px; /* To match page borders */
}

/* Make Footer Sticky */
#footer-container {
    background-image: url('/img/background.jpg');
    bottom: 10px; /* To match page borders */
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding-bottom: 15px;
    text-align: center;
}

#footer {
    margin-left: 10px; /* To match page borders */
    margin-right: 10px; /* To match page borders */
    line-height: 40px;
}

#footer nav {
    font-size: 18px;
}

#footer nav li {
    display: inline;
    padding-right: 35px;
}

#footer nav li a {
    text-decoration: none;
    color: rgb(77, 77, 77);
}

#footer nav li a:hover {
    text-decoration: underline;
}

#footer nav li.active a {
    text-decoration: underline;
}

.teal-color {
    color: #0B5460;
}

.orange-color {
    color: #F15A24;
}

.gray-color {
    color: #4D4D4D;
}

#main {
    position: absolute;
    display: inline-block;
    width: 800px;
    max-width: 100%;
    text-align: center;
}

#main img {
    visibility: hidden;
    max-width: 100%;
    height: auto;
}

.shadowed {
    -webkit-box-shadow: 0 1px 15px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 15px rgba(0,0,0,0.6);
    box-shadow: 0 1px 15px rgba(0,0,0,0.6);
}
