#events-container {
   width: 980px;
   height: 450px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -490px;
   margin-top: -225px; /* HACK: Not quite half as the footer is 60px */
}

#img-container {
    text-align: center;
}

#img-container div {
    display: inline-block;
}

#img-container img {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}

#events-text {
    text-align: right;
}

#events-text img {
    width: 300px;
}
