#events-container {
   width: 990px;
   height: 450px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -445px;
   margin-top: -225px; /* HACK: Not quite half as the footer is 60px */
}

#img-container {
    text-align: center;
    font-size: 0.1px; /* IE 9 & 10 don't like font-size: 0; */
}

#img-container div {
    display: inline-block;
}

#img-container:after {
    content: '';
    width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block;
}

#img-container img {
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
}

#events-text {
    text-align: right;
}

#events-text img {
    width: 300px;
}
