#container {
    position: absolute;
    top: 50%;
    margin-top: -225px; /* Half of content height */
    width: 100%;
}

#events-container {
    width: 1000px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}

#img-container {
    text-align: center;
    font-size: 0.1px; /* IE 9 & 10 don't like font-size: 0; */
}

#img-container div {
    display: inline-block;
}

#img-container:after {
    content: '';
    width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block;
}

#img-container img {
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
}

#events-text {
    text-align: right;
}

#events-text img {
    width: 300px;
}
