#container {
    width: 100%;
}

#gb-container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#top-img-container {
    text-align: left;
    margin-top: 40px;
}

#top-img-container img {
    height: 175px;
}

#comments-container {
    margin-top: 30px;
    text-align: left;
    overflow-y: auto;
}
