#container {
    position: absolute;
    top: 50%;
    margin-top: -260px; /* Half of content height */
    width: 100%;
}

#gb-container {
    width: 1000px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#top-img-container {
    text-align: left;
    position: fixed;
}

#top-img-container img {
    height: 175px;
    width: auto;
    visibility: visible;
}

#comments-container {
    margin-top: 180px;
    width: 1000px;
    height: 340px;
    text-align: left;
    position: relative;
    overflow-y: auto;
}


