#top-img-container {
    margin-top: 40px;
    text-align: left;
}

#top-img-container img {
    height: 200px;
    width: auto;
    visibility: visible;
}

#comments-container {
    margin-top: 40px;
    text-align: left;
}
