#container {
    position: absolute;
    top: 50%;
    margin-top: -260px; /* Half of content height */
    width: 100%;
}

#event-container {
    width: 1000px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#img-container {
    float: left;
    position: relative;
}

#img-container-left {
    float: left;
    position: relative;
    min-width: 30px;
    max-width: 30px;
    min-height: 100%;
    top: 260px; /* Half of content height */
}

#img-container-left img {
    width: 100%;
}

#img-container-right {
    float: right;
    min-height: 100%;
}

#img-container-right img {
    max-width: 510px;
    max-height: 490px;
    display: block;
    margin: 15px;
}

#text-container {
    margin-left: 560px;
    font-size: 16px;
    position: relative;
}

#text-container a {
    text-decoration: none;
    color: inherit;
}

#text-container a:hover {
    text-decoration: underline;
}

#text-container-left {
    float: left;
    max-width: 400px; /* HACK: 1000px - 520px (for image) - 60px for arrows */
    min-height: 100%;
}

#text-container-right {
    float: right;
    position: relative;
    min-width: 30px;
    max-width: 30px;
    min-height: 100%;
    top: 260px; /* Half of content height */
}

#text-container-right img {
    width: 100%;
}

.text-header {
    text-align: center;
    padding-bottom: 1em;
    font-weight: bold;
}

.left-column {
    width: 25%;
    vertical-align: top;
    font-weight: 600;
}

.right-column {
    width: 75%;
    vertical-align: top;
    font-weight: 600;
}

tr.padding-under > td {
    padding-bottom: 0.6em;
}
