#container {
    position: absolute;
    top: 50%;
    margin-top: -260px; /* Half of content height */
    width: 100%;
}

#rsvp-container {
    width: 1000px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#img-container {
    text-align: center;
    margin-top: auto;
}

#img-container img {
    height: 450px;
}