{% extends "base.html" %}

{% block page_title %} | Events{% endblock %}

{% block more_styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/events.css">
{% endblock %}

{% block body %}
    <div id="container">
        <div id="events-container">
            <div id="img-container">
                <div><img src="{{ STATIC_URL }}img/events_garba.png"/></div>
                <div><img src="{{ STATIC_URL }}img/events_ceremony.png"></div>
                <div><img src="{{ STATIC_URL }}img/events_reception.png"></div>
            </div>
            <div id="events-text">
                <img src="{{ STATIC_URL }}img/events_text.png">
            </div>
        </div>
    </div>
{% endblock %}
