html {
    background-image: url('../img/background.png');
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

#top, #bottom, #left, #right {
    background: rgb(51, 102, 102);
    position: fixed;
}
#left, #right {
    top: 0;
    bottom: 0;
    width: 20px;
}
#left {
    left: 0;
}
#right {
    right: 0;
}
#top, #bottom {
    left: 0;
    right: 0;
    height: 20px;
}
#top {
    top: 0;
}
#bottom {
    bottom: 0;
}

#main {
    margin-top: 50px;
    text-align: center;
}

#main img {
    width: 800px;
}

#footer nav {
    text-align: center;
    font-family: Courier New;
    font-size: 18px;
}
#footer nav li {
    display: inline;
    padding-right: 35px;
}
#footer nav li a {
    text-decoration: none;
    color: rgb(77, 77, 77);
}
#footer nav li a:hover {
    text-decoration: underline;
}
#footer nav li.active a {
    font-weight: bold;
}
