html {
    background-image: url('../img/background.png');
    height: 100%;
    font-family: Courier New;
}

body {
    height: 100%;
}

#top, #bottom, #left, #right {
    background: rgb(51, 102, 102);
    position: fixed;
}

#left, #right {
    top: 0;
    bottom: 0;
    width: 20px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top, #bottom {
    left: 0;
    right: 0;
    height: 20px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

#base-container {
    min-height: 100%;
    position: relative;
}

#base-body {
    padding-bottom: 90px;
}

#main {
    position: absolute;
    display: inline-block;
    margin-top: 20px;  /* To ensure there is room for the border */
}

#main img {
    visibility: hidden;
    width: 800px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    text-align: center;
}
.footer nav {
    font-size: 18px;
}
.footer nav li {
    display: inline;
    padding-right: 35px;
}
.footer nav li a {
    text-decoration: none;
    color: rgb(77, 77, 77);
}
.footer nav li a:hover {
    text-decoration: underline;
}
.footer nav li.active a {
    font-weight: bold;
}

.teal-color {
    color: #336666;
}
.orange-color {
    color: #F15A24;
}
.gray-color {
    color: #4D4D4D;
}
