{% extends "templates/base.html" %}
{% set active_page = "accommodations" %}

{% block page_title %} | Accommodations{% endblock %}

{% block more_styles_and_js %}
    <link rel="stylesheet" href="/css/accommodations.css">
{% endblock %}

{% block body %}
    <div id="container">
        <div id="event-container">
            <div id="top-img-container">
                <img src="/img/accommodations_text.png"/>
            </div>

            <div id="accommodations-text">
                <div class="left-accommodations-text1 teal-color">
                    <p>Hotel block:</p>
                </div>
                <div class="left-accommodations-text2 gray-color">
                    <p><a href="http://www.marriott.com/hotels/travel/oaklv-residence-inn-livermore-pleasanton/" target="_blank">Residence Inn Marriott</a></p>
                    <p><a href="http://goo.gl/maps/N503E" target="_blank">1000 Airway Boulevard<br>Livermore, CA 94551<br>Ph: 925-373-1800</a></p>
                    <table width="100%">
                        <tr class="padding-under">
                            <td class="left-column gray-color">Studio King Suite:</td>
                            <td class="right-column gray-color">$109/nt (Sleeps 3)</td>
                        </tr>
                        <tr class="padding-under">
                            <td class="left-column gray-color">Studio Queen Suite:</td>
                            <td class="right-column gray-color">$119/nt (Sleeps 5)</td>
                        </tr>
                        <tr class="padding-under">
                            <td class="left-column gray-color">Penthouse Suite:</td>
                            <td class="right-column gray-color">$169/nt (Sleeps 5)</td>
                        </tr>
                        <tr class="padding-under">
                            <td class="left-column gray-color">Two Bedroom Suite:</td>
                            <td class="right-column gray-color">$169/nt (Sleeps 5)</td>
                        </tr>
                    </table>
                    <p>All options include breakfast<br>Ask for the Rathnam-Sanghvi block</p>
                </div>
            </div>

            <div id="right-img-container">
                <img src="/img/accomodations_map.png"/>
                <p class="right-accommodations-text orange-color"> &hearts; <span class="right-accommodations-text gray-color"> Casa Real (wedding/reception) </span> </p>
                <p class="right-accommodations-text orange-color"> &#9733; <span class="right-accommodations-text gray-color"> Jain Temple (garba) </span> </p>
                <p class="right-accommodations-text teal-color"> &#9679; <span class="right-accommodations-text gray-color"> Residence Inn </span> </p>
            </div>
        </div>
    </div>
{% endblock %}
