<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
    <link rel="stylesheet" href="css/base.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
    <title>Jayodita and Adi {% block page_title %}{% endblock %}</title>
    {% block more_styles_and_js %}{% endblock %}
</head>

<body>
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>

    <div style="display: none" id="hide-till-load">&nbsp;</div>
    <script type="text/javascript">
        document.getElementById("hide-till-load").style.display = "block";
    </script>
    <div id="base-container">
        <div id="base-body">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <div id="footer-container">
        <div id="footer">
        {% set navigation_bar = [
            ('/home', 'home', 'Home'),
            ('/story', 'story', 'Story'),
            ('/events', 'events', 'Events'),
            ('/accommodations', 'accommodations', 'Accommodations'),
            ('/photos', 'photos', 'Photos'),
            ('/guest_book', 'guest_book', 'Guest Book')
        ] -%}
            <nav>
                <ul>
                    {% for href, id, caption in navigation_bar %}
                        <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>
