{% extends "templates/base.html" %}

{% block page_title %} | Ceremony Rites{% endblock %}

{% block more_styles_and_js %}
    <link rel="stylesheet" href="/css/ceremonyrites.css">
{% endblock %}

{% block body %}
    <div id="container">
        <div id="top-img-container">
            <img src="/img/ceremonyrites.png"/>
        </div>
        <div class="gray-color" id="rite-text">
            <p>Our wedding ceremony will include various Hindu and Jain traditions and prayers. Here, we describe the different rites and customs for those of you interested in understanding the significance and meaning behind the different steps.</p>
            <p><b>Baraat:</b> The groom arrives at the wedding venue in a procession escorted by his friends and family. He is welcomed by the bride’s mother. This is followed by a garland exchange between the bride and groom.</p>
            <p><b>Kanya Agaman:</b> The bride is escorted by her mother’s brother to the mandap. The ceremony takes place under a mandap (canopy) whose four pillars represent the four parents who have raised the bride and groom. A sacred fire, Agni, serves as a witness to the vows taken by the couple.</p>
            <p><b>Exchange of Garlands:</b> The bride and groom place garlands around each other symbolizing their love and acceptance of one another.</p>
            <p><b>Prayers:</b> Both Jain and Hindu prayers will be recited at the start of the ceremony. Notably, the ceremony opens with a prayer to the Lord Ganesh, the remover of obstacles, to ask for blessings for a successful marriage. The Navakar Mantra, a 9-line gesture to those spiritually ahead of us, will also be recited to remind us of the ultimate goal of reaching nirvana or moksha.</p>
            <p><b>Kanya Daan:</b> The bride’s father performs the symbolic ritual of giving their daughter away. The bride’s parents place a varmala, a hand woven cord, around the couple’s necks. The varmala has no seams and symbolizes a union that will have no end.</p>
            <p><b>Cheedda Bandan:</b> The groom’s sister ties one corner of the groom's scarf to the bride’s saree signifying a promise to always work together in life.</p>
            <p><b>Hasta Milap:</b> The pandit joins the bride and groom’s hands together signifying eternal togetherness.</p>
            <p><b>Mangal Pheera:</b> The sacred flame is believed to be a protector from evil and the eternal witness of marriage. The bride and groom circle the flame seven times, representing nourishment, strength, prosperity, happiness, progeny, a long harmonious life, and understanding.</p>
            <p><b>Sapta Padi:</b> The bride and groom take seven vows together symbolized in the form of seven steps. These vows were written by the bride and groom on the topics of religion, family, parents, and children.</p>
            <p><b>Mangal Sutra, Sindoor Purti, and Ring Exchange:</b> The groom gives a sacred necklace to the bride, and applies sindoor (red powder) to the bride’s hairline, welcoming her as a partner for life. The bride and groom exchange rings as a symbol of their love and devotion to each other and are now officially married. The groom’s parents give the bride a gift, recognizing her as a part of their family.</p>
            <p><b>Kansar Bhojan:</b> The bride and groom will have their first meal together, exchanging sweets to represent sweetness in married life.</p>
            <p><b>Akhand Saubhagyavati Bhavna:</b> Seven married aunts of the bride and groom are invited to the mandap to give their blessings to the bridge and groom, wishing them a long, happy, prosperous, and peaceful life together.</p>
            <p><b>Ashirwad:</b> The pandit, family, and friends offer their blessings and good wishes to the newly married couple.</p>
        </div>
    </div>
{% endblock %}
