{% extends "templates/base.html" %}

{% block page_title %} | RSVP{% endblock %}

{% block more_styles_and_js %}
    <script type="text/javascript" src="js/rsvp.js"></script>
    <link rel="stylesheet" href="/css/rsvp.css">
{% endblock %}


{% block body %}
    <div id="container">
        <div id="rsvp-container">
            <div id="top-img-container">
                <img src="/img/rsvp_elephant.png"/>
            </div>
            <div id="rsvp-table-container"/>
                <table>
                    <tr class="teal-color">
                        <td></td>
                        <td>Garba<br>5.25.14 at 6:30pm</td>
                        <td>Ceremony<br>5.26.14 at 2:00pm</td>
                        <td>Reception<br>5.26.14 at 5:00pm</td>
                    </tr>
                    {% for group_member in group_members %}
                        <tr>
                            <td class="gray-color">{{ group_member.first_name }} {{ group_member.last_name }}</td>
                            <td><input type="checkbox" name="attending_garba" value=""></td>
                            <td><input type="checkbox" name="attending_ceremony" value=""></td>
                            <td><input type="checkbox" name="attending_reception" value=""></td>
                        </tr>
                    {% endfor %}
                </table>
                <button type="submit">Submit</button>
            </div>
        </div>
    </div>
{% endblock %}
