{% extends "templates/base.html" %}

{% block page_title %} | RSVP{% endblock %}

{% block more_styles_and_js %}
    <script type="text/javascript" src="js/rsvp.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/css/rsvp.css">
{% endblock %}

{% block body %}
    <div id="container">
        <div id="rsvp-container">
            <div id="top-img-container">
                <img src="/img/rsvp_elephant.png"/>
            </div>
            <div id="rsvp-table-container"/>
                <form id="rsvp-form">
                    <table id="rsvp-table">
                        <thead class="teal-color">
                            <tr>
                                <th></th>
                                {% if group_members[0].garba > STATE_NOT_INVITED %}
                                    <th>Garba<br>5.25.14 at 6:30pm</th>
                                {% endif %}
                                {% if group_members[0].ceremony > STATE_NOT_INVITED %}
                                    <th>Ceremony<br>5.26.14 at 2:00pm</th>
                                {% endif %}
                                {% if group_members[0].reception > STATE_NOT_INVITED %}
                                    <th>Reception<br>5.26.14 at 5:00pm</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for group_member in group_members %}
                                <tr>
                                    <td class="gray-color">{{ group_member.first_name }} {{ group_member.last_name }}</td>

                                    <!-- Garba -->
                                    {% if group_member.garba > STATE_NOT_INVITED %}
                                        {% if group_member.garba == STATE_ATTENDING %}
                                            <td>
                                                <input type="radio" name="garba_{{ group_member.key().id() }}" value="{{ STATE_ATTENDING }}" checked>Yes
                                                <input type="radio" name="garba_{{ group_member.key().id() }}" value="{{ STATE_NOT_ATTENDING}}">No
                                            </td>
                                        {% elif group_member.garba == STATE_NOT_ATTENDING %}
                                            <td>
                                                <input type="radio" name="garba_{{ group_member.key().id() }}" value="{{ STATE_ATTENDING }}">Yes
                                                <input type="radio" name="garba_{{ group_member.key().id() }}" value="{{ STATE_NOT_ATTENDING }}" checked>No
                                            </td>
                                        {% else %}
                                            <td>
                                                <input type="radio" name="garba_{{ group_member.key().id() }}" value="{{ STATE_ATTENDING }}">Yes
                                                <input type="radio" name="garba_{{ group_member.key().id() }}" value="{{ STATE_NOT_ATTENDING }}">No
                                            </td>
                                        {% endif %}
                                    {% endif %}

                                    <!-- Ceremony -->
                                    {% if group_member.ceremony > STATE_NOT_INVITED %}
                                        {% if group_member.ceremony == STATE_ATTENDING %}
                                            <td>
                                                <input type="radio" name="ceremony_{{ group_member.key().id() }}" value="{{ STATE_ATTENDING }}" checked>Yes
                                                <input type="radio" name="ceremony_{{ group_member.key().id() }}" value="{{ STATE_NOT_ATTENDING}}">No
                                            </td>
                                        {% elif group_member.ceremony == STATE_NOT_ATTENDING %}
                                            <td>
                                                <input type="radio" name="ceremony_{{ group_member.key().id() }}" value="{{ STATE_ATTENDING }}">Yes
                                                <input type="radio" name="ceremony_{{ group_member.key().id() }}" value="{{ STATE_NOT_ATTENDING }}" checked>No
                                            </td>
                                        {% else %}
                                            <td>
                                                <input type="radio" name="ceremony_{{ group_member.key().id() }}" value="{{ STATE_ATTENDING }}">Yes
                                                <input type="radio" name="ceremony_{{ group_member.key().id() }}" value="{{ STATE_NOT_ATTENDING }}">No
                                            </td>
                                        {% endif %}
                                    {% endif %}

                                    <!-- Reception -->
                                    {% if group_member.reception > STATE_NOT_INVITED %}
                                        {% if group_member.reception == STATE_ATTENDING %}
                                            <td>
                                                <input type="radio" name="reception_{{ group_member.key().id() }}" value="{{ STATE_ATTENDING }}" checked>Yes
                                                <input type="radio" name="reception_{{ group_member.key().id() }}" value="{{ STATE_NOT_ATTENDING}}">No
                                            </td>
                                        {% elif group_member.reception == STATE_NOT_ATTENDING %}
                                            <td>
                                                <input type="radio" name="reception_{{ group_member.key().id() }}" value="{{ STATE_ATTENDING }}">Yes
                                                <input type="radio" name="reception_{{ group_member.key().id() }}" value="{{ STATE_NOT_ATTENDING }}" checked>No
                                            </td>
                                        {% else %}
                                            <td>
                                                <input type="radio" name="reception_{{ group_member.key().id() }}" value="{{ STATE_ATTENDING }}">Yes
                                                <input type="radio" name="reception_{{ group_member.key().id() }}" value="{{ STATE_NOT_ATTENDING }}">No
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Hacky way of doing things -->
                    <input type=hidden id="group_name" value="{{ group_name }}"/>
                    <input type=hidden id="submit_rsvp_page_path" value="{{ submit_rsvp_page_path }}"/>
                    <!-- End of hacky way of doing things -->
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
