{% extends "templates/base.html" %}

{% block page_title %} | Events (Garba){% endblock %}

{% block more_styles_and_js %}
    <link rel="stylesheet" href="/css/individual_event.css">
    <script type="text/javascript" src="/js/individual_event.js"></script>
{% endblock %}

{% block body %}
    <div id="container">
        <div id="event-container">
            <div id="img-container">
                <img id="img-container-image" src="/img/garba.png"/>
            </div>
            <div id="text-container">
                <p class="text-header teal-color">Live music,<br>a few simple steps,<br>good ole time for EVERYONE!</p>
                <table width="100%">
                    <tr class="padding-under">
                        <td class="left-column orange-color">When:</td>
                        <td class="right-column gray-color">Sunday, May 25th, 2014 at 6pm</td>
                    </tr>
                    <tr class="padding-under">
                        <td class="left-column orange-color">Where:</td>
                        <td color="right-column gray-color">Jain Temple<br>722 South Main Street<br>Milpitas, CA 95035</td>
                    </tr>
                    <tr class="padding-under">
                        <td class="left-column orange-color">Schedule:</td>
                        <td color="right-column gray-color">Dinner will be served at 6pm, followed by Garba and Raas</td>
                    </tr>
                    <tr class="padding-under">
                        <td class="left-column orange-color">Parking:</td>
                        <td color="right-column gray-color">Parking is available in the temple lot. Additional parking on Hammond Way (directly behind the temple, parallel to Main Street)</td>
                    </tr>
                    <tr class="padding-under">
                        <td class="left-column orange-color">Attire:</td>
                        <td color="right-column gray-color">Chicas: Lengha, saree, or a flowy skirt<br>Chicos: Kurta, or shirt/pants<br><br>Anything comforable to maximize dancing!</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
