{% extends "templates/base.html" %}
{% set active_page = "photos" %}

{% block page_title %} | Photos{% endblock %}

{% block body %}
    <div id="main">
        <script src="//www.gmodules.com/ig/ifr?url=http://gadgets2.googlecode.com/files/LoopedSlideshow.xml&amp;up_File=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fbase%2Fuser%2F109602350299166629381%2Falbumid%2F5948250320137000609%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCNX-4eih1_TqIw%26hl%3Den_US&amp;up_DTime=4&amp;up_TTime=1&amp;up_Padding=0&amp;up_Margin=none&amp;up_BorderStyle=none&amp;up_BorderWidth=0&amp;up_BorderColor=none&amp;up_SlideBcol=none&amp;up_PWidth=800&amp;up_PHeight=606&amp;up_ScaleImages=1&amp;up_NumResults=200&amp;up_ExtraStyles=body%20%7B%20background-color%3A%20transparent%3B%20%7D&amp;synd=open&amp;w=800&amp;h=606&amp;title=&amp;border=none&amp;output=js"></script>         
    </div>
{% endblock %}
