{% extends "templates/base.html" %}

{% block page_title %} | Events (Reception){% endblock %}

{% block more_styles_and_js %}
    <link rel="stylesheet" href="/css/individual_event.css">
{% endblock %}

{% block body %}
    <div id="container">
        <div id="event-container">
            <div id="img-container">
                <div id="img-container-left">
                    <a href="/ceremony"><img src="/img/left_arrow.png"/></a>
                </div>
                <div id="img-container-right">
                    <img class="img-container-image shadowed" src="/img/reception.jpg"/>
                </div>
            </div>

            <div id="text-container">
                <div id="text-container-left">
                    <p class="text-header teal-color">Then, we celebrate!<br>Khana, peena, and nachna<br>Designate driver!<br></p>
                    <table width="100%">
                        <tr class="padding-under">
                            <td class="left-column orange-color">When:</td>
                            <td class="right-column gray-color">Monday, May 26th, 2014 at 5pm</td>
                        </tr>
                        <tr class="padding-under">
                            <td class="left-column orange-color">Where:</td>
                            <td class="right-column gray-color"><a href="http://goo.gl/maps/RaDee" target="_blank">Casa Real<br>410 Vineyard Avenue<br>Pleasanton, CA 94566</a></td> 
                        </tr>
                        <tr class="padding-under">
                            <td class="left-column orange-color">Schedule:</td>
                            <td class="right-column gray-color">5:00pm Cocktail hour<br>6:00pm  Seating<br>6:30pm  Dinner<br>(Please arrive no later than 6pm)</td>
                        </tr>
                        <tr class="padding-under">
                            <td class="left-column orange-color">Parking:</td>
                            <td class="right-column gray-color">Parking provided at the venue</td>
                        </tr>
                        <tr class="padding-under">
                            <td class="left-column orange-color"></td>
                            <td class="right-column gray-color">*No boxed gifts please</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
