{% extends "templates/base.html" %}
{% set active_page = "story" %}

{% block page_title %} | Story{% endblock %}

{% block more_styles_and_js %}
    <link rel="stylesheet" href="/css/story.css">
{% endblock %}

{% block body %}
    <div id="container">
        <div id="top-img-container">
            <img src="/img/story_1.png"/>
        </div>
        <div id="story">
            <div class="left-story-text teal-color">
                <p>"Well, there is some debate about when we first met..." ~Jayodita</p>
            </div>
            <div class="right-story-text orange-color">
                <p>"She claims not to have known me, when she did" ~Aditya</p>
            </div>
            <div class="left-story-text teal-color">
                <p>"We were classmates in college"</p>
            </div>
            <div class="right-story-text orange-color">
                <p>"But we didn't know each other then"</p>
            </div>
            <div class="left-story-text teal-color">
                <p>"He once told me that he remembers seeing me on a campus shuttle. I must have left an impression! Now, he denies it..."</p>
            </div>
            <div class="right-story-text orange-color">
                <p>"Our story involves two alumni mixers in Palo Alto, where we were both living after college. At the first, we ate lunch at the same big table. She definitely knew me by then...but now, she denies it"</p>
            </div>
            <div class="left-story-text teal-color">
                <p>"The first time we talked to each other was at the second mixer. He saved me from a conversation with a sketchy guy, but he was too shy to get my number!"</p>
            </div>
            <div class="right-story-text orange-color">
                <p>"She must have liked me! She Facebook friended me right away"</p>
            </div>
            <div class="left-story-text teal-color">
                <p>"The mixer was followed by a few awkward 'group hangs' facilitated by Adi to get to know me better. Eventually, things just fell into place!"</p>
            </div>
            <div class="right-story-text orange-color">
                <p>"Over the next four years, we got to know each other well. We traveled to Germany, Italy, and Hawaii, and did multiple local trips. Despite some great planning, she only remembers the times when I was late to dates"</p>
            </div>
            <div class="left-story-text teal-color">
                <p>"My favorite was a secret trip to Seattle and Vancouver which he orchestrated perfectly!"</p>
            </div>
            <div class="right-story-text orange-color">
                <p>"Finally, giving credit where credit is due!"</p>
            </div>
            <div class="left-story-text teal-color">
                <p>"Let's fast-forward to the proposal: 2.2.13...another secret trip, this time, to Portland"</p>
            </div>
            <div class="right-story-text orange-color">
                <p>"I was a bit thrown off when my originally planned spot at the base of the Multnomah Falls was too crowded"</p>
            </div>
            <div class="left-story-text teal-color">
                <p>"He ended up asking me at a gorgeous vista overlooking the Columbia River at sunset. It was perfect!"</p>
            </div>
            <div class="right-story-text orange-color">
                <p>"And she said YES!"</p>
            </div>
        </div>
        <div id="bottom-img-container">
            <img src="/img/story_2.png"/>
        </div>
    </div>
{% endblock %}
